<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<a class="btn btn-primary" type="submit" th:href="@{/write}">Button</a>

<table class="table" style="table-layout: fixed">
    <thead>
    <tr>
        <th style="width:10%">id</th>
        <th style="width:15%">제목</th>
        <th style="width:30%">내용</th>
        <th style="width:15%">사용자이름</th>
        <th style="width:20%">암호</th>
        <th style="width:10%">작성일자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="memo : ${memos}">
        <td th:text="${memo.id}"></td>
        <td ><a th:text="${memo.username}"></a></td>
        <td style="width:40%; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;" th:text="${memo.contents}"></td>
        <td th:text="${memo.password}"></td>
        <td th:text="${memo.title}"></td>
        <td th:text="${#temporals.format(memo.date, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>
<!-- 기능 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
